{% extends '@Forum/base.html.twig' %}

{% block body %}
    <h3>Comment creation</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn waves-effect waves-light" type="submit" name="action">Enregistrer
            <i class="material-icons right">send</i>
        </button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('homepage', {'subject': subject.id}) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
